[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "~=0.28.0"
grpcio = "*"
grpcio-tools = "*"

[dev-packages]
flake8 = "*"
isort = "*"
nose = "*"
parameterized = "*"

[requires]
python_version = "3.12"
